img {
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
}

a {
  display: block;
}

mat-card {
  margin: 0;
}

.app-container {
  position: relative;
}

.app-spinner-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
