.my-add-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.my-select {
  position: absolute;
  top: 76px;
  left: 1rem;
  background-color: white;
}

.my-container {
  margin-bottom: 6rem;
}

.my-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
