<div fxLayout="column">
  @for (page of _pages; track page) { @if (page.pages) {
  <button mat-button (click)="page.opened = !page.opened">
    <div class="section-header">
      <span>{{ page.label }}</span>
      @if (page.pages) { @if (!page.opened) {
      <mat-icon>expand_more</mat-icon>
      } @if (page.opened) {
      <mat-icon>expand_less</mat-icon>
      } }
    </div>
  </button>
  @if (page.opened) {
  <mat-divider></mat-divider>
  <app-section-nav [pages]="page.pages"></app-section-nav>
  } } @else {
  <a mat-button [routerLink]="page.path" routerLinkActive="mat-primary" (click)="scrollToTop()">{{ page.label }}</a>
  }
  <mat-divider></mat-divider>
  }
</div>
