@use "sass:math";

$matToolbarHeight: 64px;

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
}

.main-content {
  padding: 20px;
  padding-bottom: 100px;
}

mat-sidenav {
  padding-top: $matToolbarHeight + 16px;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav[position='end'] {
  border: none;
}

mat-sidenav-container {
  min-height: 100vh;
}

.easter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000;
  $time: 5s;
  animation: moveX $time linear 0s infinite alternate, moveY math.div(3.4 * $time, 3.05) linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
    rotate: 0;
  }
  to {
    left: calc(100% - 560px);
    transform: rotate(360deg);
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 315px);
  }
}
