name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        target: [test, lint, build]
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      # Dependencies
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            ./libs/cli/node_modules
          key: ${{ runner.os }}-cache-${{ hashFiles('./package-lock.json') }}-${{ hashFiles('./libs/cli/package-lock.json') }}
      - name: Install root dependencies
        run: npm i
      - name: Install cli dependencies
        run: npm i
        working-directory: ./libs/cli
      # Running scripts
      - name: Running ${{ matrix.target }}
        run: npm run nx -- run-many --target=${{ matrix.target }} --configuration=production --exclude=docs,docs-app
