name: main

on:
  # push:
  #   branches: [main]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 14.x
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Git set user
        run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"
      - name: Cache node modules global
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./package-lock.json') }}
      - name: Cache node modules local
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules-local
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./package-lock.json') }}
      - run: npm i
      # at some point https://github.com/nrwl/last-successful-commit-action to release only affected
      # - run: npm run affected:lint -- --base=origin/main
      # since lib versions are synced, just versioning one is enough
      - run: npm run nx -- run model-utils:version --version=prerelease --preid=alpha --sync-versions
      - run: git status
      - run: npm --version
      - run: npm run nx -- run-many --all --target=build --prod
      - run: npm run nx -- run-many --all --target=test
      - run: node ./tools/npm-publish.js
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      # - run: npm run affected:e2e -- --headless --base=origin/main
      - run: git push --follow-tags
